$column-gutter: 20px !default;

.columns {
    margin-left: -$column-gutter;
    margin-right: -$column-gutter;
    margin-top: -$column-gutter;
}

.column {
    padding: $column-gutter;
}

.columns:last-child {
    margin-bottom: -$column-gutter;
}

.columns:not(:last-child) {
    margin-bottom: $column-gutter;
}
