@mixin respond-to ($breakpoint)
{
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query
    {
        $query: if(
            type-of($raw-query) == 'string',
            unquote($raw-query),
            inspect($raw-query)
        );

        @media #{$query}
        {
            @content;
        }

    }
    @else
    {
        @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

$breakpoints: (
    'mobile': (min-width: 420px),
    'tablet': (min-width: 768px),
    'laptop': (min-width: 1024px),
    'desktop': (min-width: 1120px),
    'widescreen': (min-width: 1400px),
);
